<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NHL Schedule Compiler</title>
</head>
<body>
    <h1>NHL Schedule Compiler</h1>
    <h2>Teams</h2>

    <form method="POST" action="/">
    <table>
        <tr>
            <th>Team</th>
            <th>Include?</th>
        </tr>
        {% for item in items %}
            <tr>
                <td>{{ item }}</td>
                <td>
                    <select class="team_yn" name="{{ item }}" id="{{ item }}">
                        <option value="no" selected>No</option>
                        <option value="yes">Yes</option>
                    </select>
                </td>
            </tr>
        {% endfor %}
    </table>
    <br>
    <button type="submit">Submit</button>
    </form>
</body>
</html>