<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>NHL Schedule Compiler</title>
</head>
<body>
    <header>
        <h1>NHL Schedule Compiler</h1>
    </header>

    <div class="container">
    <h2>Timezone</h2>
    <form method="POST" action="/">
        <select class="timezone_drop" name="timezone" id="timezone">
            <option value="Atlantic">Atlantic</option>
            <option value="Eastern">Eastern</option>
            <option value="Alberta">Alberta</option>
            <option value="Central">Central</option>
            <option value="Arizona" selected>Arizona</option>
            <option value="Mountain">Mountain</option>
            <option value="BC">BC</option>
            <option value="Pacific">Pacific</option>
        </select>

    <h2>Teams</h2>

    <table>
        <tr>
            <th></th>
            <th>Team</th>
            <th>Include?</th>
        </tr>
        {% for item in items %}
            <tr>
                <td><img src="{{ url_for('static', filename='images/' ~ item.team ~ '.png') }}" width="50"></td>
                <td>{{ item.team }}</td>
                <td>
                    <select class="team_yn" name="{{ item.team }}" id="{{ item.team }}">
                        <option style="background-color: red" value="no" {% if item.selected != 'yes' and item.selected != 'exclude' %}selected{% endif %}>No</option>
                        <option style="background-color: lime" value="yes" {% if item.selected == 'yes' %}selected{% endif %}>Yes</option>
                        <option style="background-color: black; color: white;" value="exclude" {% if item.selected == 'exclude' %}selected{% endif %}>Exclude</option>
                    </select>
                </td>
            </tr>
        {% endfor %}
    </table>
    <br>
    <button type="submit">Submit</button>
    </form>
    </div>
</body>
</html>