h1 {
    border: 2px #eee solid;
    color: black;
    text-align: center;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}

.button {
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.login-button {
    background-color: white;
    color: black;
    border: 2px solid #1DB954;
}

.login-button:hover {
    background-color: #1DB954;
    color: white;
}