<!doctype html> 
<html> 
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
        <title>Menu Page</title>
    </head>
    <body>
        <h1>Main Menu</h1>
        <p style="text-align: center;">Select an option:</p>

        <a href="/op1">
            <button class="button main-menu-button">Create Playlist with Seeds</button>
        </a>
        <br>
        <a href="/op2">
            <button class="button main-menu-button">Create Playlist based on All Songs</button>
        </a>
    </body>
</html>