<!doctype html> 
<html> 
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
        <title>Login Page</title>
    </head>
    <body> 
        <h2>Here are the songs that will be in the new playlist:</h2>
        <p>{{data}}</p>

        <h3>Playlist is created. Enjoy!</h3>

        <p>Want to create another playlist? Click below!</p>
        <a href="/">
            <button class="button restart">Create new playlist</button>
        </a>
    </body> 
</html> 