<!doctype html> 
<html> 
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
        <title>Login Page</title>
    </head>
    <body> 
        <h2>Here are the songs that are in the selected playlist:</h2>
        <p>
            {% for song in data %}
                {{loop.index}}. {{song}} <br>
            {% endfor %}
        </p>

        <p>Continue with this playlist?</p>

        <a href="/get-recs-op2">
            <button class="button restart">Continue</button>
        </a>
    </body> 
</html> 